.debug{
    border: 1px solid red;
}

/*HEADER*/

.container{
    height: 100px;
    background-color: cornflowerblue;
}

header .row{
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

header .col-4:last-child{
    text-align: end;
}