:root{
    --white-text: white;
    --black-text: black;
}

.debug{
    border: 1px solid red;
}

.flex{
    display: flex;
}

/**********************************************************+

                        HEADER                          

************************************************************/

header .container{
    height: 100px;
    background-color: #2c3e50;
}

header .row{
    height: 100%;
}

header .col-4{
    color: var(--white-text);
}

header .col-4:last-child{
    text-align: end;
}


/**********************************************************+

                        MAIN                          
                        
************************************************************/

/****************
    JUMBOTRON
****************/

#jumbotron .container{
    height: 400px;
    background-color: #1abc9c;
}

#jumbotron .row{
    flex-direction: column;
}

#jumbotron .col-7{
    margin-top: 20px;
}

#jumbotron .flex{
    justify-content: center;
    align-items: center;
}

#jumbotron .ruler{
    border: 1px solid white;
    height: 1px;
    width: 50px;
    margin: 0 10px
}

/****************
    PORTFOLIO
****************/

#portfolio p{
    margin-top: 20px;
}

#portfolio .flex{
    justify-content: center;
    align-items: center;
}

#portfolio .ruler{
    border: 1px solid black;
    height: 1px;
    width: 50px;
    margin: 0 10px
}

#portfolio .row{
    flex-direction: column;
}

#portfolio .card{
    height: 300px;
    background-color: #2c3e50;
}

