:root{
    --white-text: white;
    --black-text: black;
}



.container{
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex{
    display: flex;
}

.ruler-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ruler{
    border: 1px solid;
    height: 1px;
    width: 50px;
    margin: 0 10px
}


/**********************************************************+

                        HEADER                          

************************************************************/

header{
    background-color: #2c3e50;

}

header .container{
    height: 100px;
}

header .row{
    height: 100%;
}

header .col-4{
    color: var(--white-text);
}

header .col-4:last-child{
    text-align: end;
}


/**********************************************************+

                        MAIN                          
                        
************************************************************/

/****************
    JUMBOTRON
****************/

#jumbotron{
    background-color: #1abc9c;
}

#jumbotron .row{
    flex-direction: column;
}

#jumbotron .col-7{
    margin-top: 20px;
}

#jumbotron .ruler{
    border-color: white;
}

/****************
    PORTFOLIO
****************/

#portfolio{
    background-color: white;
}

#portfolio .ruler{
    border-color: black;
}

#portfolio .card{
    height: 300px;
    background-color: #2c3e50;
}


/****************
    ABOUT
****************/

#about{
    background-color: #9db6cf;
}

#about .row{
}

#about .ruler{
    border-color: white;
}

#about .btn{
    padding: 10px;
    border: 1px solid black;
}

/****************
    CONTACT
****************/

#contact .col-8 input{
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 15px 0;
}

#contact .btn{
    border: 1px solid gray;
    margin-top: 20px;
}

/****************
    FOOTER
****************/


footer li{
    margin: 0 10px;
    list-style: none;
}

footer .col